@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

/* El CSS siguiente esta pensando primero para moviles y luego para 
   Escritiorio*/
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: calc(0.5em + 1vh);
}

/* El estilo base para moviles */
body {
    background-color: #112935;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 400;
}

/*espacio entre el logotipo y el menu*/
.header {
    display: flex;
    justify-content: space-between;
}

/*h1*/
.src-only {
    display: none;
}

.hide-mobile {
    display: none;
}

/*letras*/
p{
    font-size: 1em;
    padding: 1rem;
    line-height: 10px;
}

/*tamaño logo*/
.logo {
    width: 100px;
    margin: 1em;
}

/*options*/
.options {
    color: inherit;
    text-decoration: none;
    position: relative;
    top: 30%;
    right: 95%;
    font-size: 1.5rem;

    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

}

.options i:last-child {
    font-size: 1.6rem;
}


/* Big area */
.big-hero img {
    width: 150px;
}

.big-hero h2 {
    font-size: 1.875em;
    font-weight: 700;
    letter-spacing: 0.002em;
    margin-top: 1em ;
}

.big-hero p {
    font-size: 1em;
    color: #D7DEE6;
}

/* Social links*/
/*editando los iconos de redes sociales*/
.social-links{
    list-style: none;
    padding: 0;
    margin: -30px;
    margin-top: -5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.social-links li a{
    color: #D7DEE6;
    text-decoration: none;
    font-size: 9.5em;
}

/*hover social links*/
.social-links a:hover{
    color:#838383;
}


/*circulo (enlace para navegar dentro de la pagina)*/
.fa-arrow-circle-down:hover{
    color:#058563;
}

/*margin de icono de redes sociales e icono de enlace para navegar dentro de la pagina*/
.big-hero .container .social-links .fa-github{
    margin:17px;
    margin-bottom: 80px;
}

.big-hero .container .social-links .fa-twitter{
    margin:17px;
    margin-bottom: 80px;
}

.fa-arrow-circle-down{
    color: #0AC693;
    text-decoration: none;
    font-size: 4.5em;
    margin-bottom: 125px;
}


/*siguiente area (area verde)*/

/*color de background-color*/
.green-area {
    background-color: #0AC693; 
}

/*margin de las publicaciones*/
.post {
    padding: 1em;
    margin-bottom: -2px;
}

/*h2 de las publicaciones*/
.post h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.125em;
    margin: 1em;
}

/*configuracion de las publicaciones (listas)*/
.post ul {
    list-style: none;
}

.post ul li {
    min-height: 300px;
    max-width: 350px;
    margin: 2rem auto;
}

.post ul li article {
    overflow: hidden;
    border-radius: 10px;
    background-color: #ffffff;
    text-align: left;
    padding-bottom: 2em;
}
/*configuracion de imagenes en las publicaciones*/
.post article img{
    height: 150px;
    width: 100%;
    object-fit: cover;
}

/*titulos de los articulos(publicaciones)*/
.post article h3 {
    color: #0D5061;
    margin-top: 2em;
    padding: 0em 1rem;
    font-size: 0.9em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*configuracion de texto de publicaciones*/
.post article p {
    color:#112935;
    font-size: 0.75em;
    padding: 1rem;
    line-height: 25px;
}

/* About */
.about>.container{
    background-color: #112935;
    margin-top: 0.5em;
}

.about h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.125em;
    margin: 2em;
}

/*tamaño imagen en el about*/
.bio-info img{
   width: 150px;
}

/*parrafo de about me*/
.bio-info p{
    font-size: 16px;
    padding: 2em;
    text-align: left;
    line-height: 25px;
    letter-spacing: 2px;
}

/*parte de contacto*/
.contact * + * {
    margin-top: 1.5em;
}

/*configuracion formulario*/
.contact-form {
    display: flex;
    flex-direction: column;
    padding: 0px 1em;
}

/*seleccionar los input y textarea*/
.about .container .contact-form input, .contact-form textarea{
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0px 1em;
    font-size: 1.5em;
    width: 75%;
    margin:1px;
}

/*selecionando ultimo hijo (boton de "contaccto")*/
.about .container .contact-form input:last-child{
    border: none;
    border-radius: 0px 1em;
    font-size: 1.5em;
    margin:4px;
    margin-bottom: 2em;
    width: 25%;
    align-self: left;
}

/*hover de boton de "contacto"*/
.about .container .contact-form input:last-child:hover{
    background-color: #D61002;
}

.contact-form input[type=submit] {
    background-color: #F74442;
    font-weight: 300;
    color: white;
    font-size: 1rem;
}

/* Decorando placeholder */

::-webkit-input-placeholder { 
    color: #D7DEE6; 
} 
 
:-moz-placeholder { /* Firefox 18- */ color: #D7DEE6; } 
 
::-moz-placeholder { /* Firefox 19+ */ color: #D7DEE6; } 
 
:-ms-input-placeholder { color: #D7DEE6; }


.black-decoration{
    background-image: url("../images/decoracion_oscura_small.svg");
}

/*menu superior*/
.menu {
    background-color: #112935;
    position: absolute;
    z-index: 20;
    top: 60px;
    right: 0;
    width: 100vw;
    height: calc(100vh - 60px);
}

.menu {
    list-style: none;
    text-align: left;
    padding: 1em;
}
.menu li {
    display: block;
    padding: 0.5em;
    margin-top: 5px;
}

.menu li a {
    color: white;
    text-decoration: none;
}

/*color de letra "contacto"*/
.menu li:last-child a{
    color: red;
}

/*configuracion footer*/
footer{
    background-color: #0D5061;
    color:#D7DEE6;
    margin-top: 7em;
}

footer .social-links .fa-github {
    margin: 0 17px;
    margin-bottom: 40px;
    margin-top: -10em;
}

footer .social-links .fa-twitter{
    margin: 0 17px;
    margin-bottom: 40px;
    margin-top: -10em;
}

/* Pesonalizando estilo para tablets*/
@media only screen and (min-width: 768px) {
  
    .post ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .post ul li {
        min-height: 350px;
        max-height: 3500px;
        margin: 1rem 2rem;
        flex: 1 0 300px;
    }

    .logo {
        width: 150px;
        margin: 1.5em;
    }

    .show-desktop {
        display: block;
    }

    .hide-desktop {
        display: none;
    }

    .menu {
        background-color: #112935; 
        position: static;
        z-index: 20;
        width: auto;
        height:auto;
        display: flex;
        margin-top: 1em;
    }

    /*hover de iconos*/
    .social-links a:hover{
        color:#838383;
    }

    .fa-arrow-circle-down:hover{
        color:#058563;
    }

} 

@media only screen and (min-width: 1024px) {/*telefono*/
    /*usando grid se puede visualizar en dos columnas (about y formulario)*/
    .about>.container{
        background: #112935;
        display:grid;
        grid-template-columns:repeat(2, 2fr);
        grid-auto-rows:repeat(2, 2fr) 20px; 
    }

    /*configuracion de h2*/
    .about h2{
        grid-column: 1/span 3;
    }

    /*hover de iconos*/
    .social-links a:hover{
        color:#838383;
    }

    .fa-arrow-circle-down:hover{
        color:#058563;
    }

}

/*pantalla tamaño 1440px*/
@media only screen and (min-width: 1440px) {

    .container {
        width: 80%;
        margin: 0 auto;
        max-width: 1440px;
    }

    /*hover de iconos*/
    .social-links a:hover{
        color:#838383;
    }

    .fa-arrow-circle-down:hover{
        color:#058563;
    }
    
}